<div class='fb-form'>
    <form action='#' class='form-group'>
      <h2>Tell us what you think</h2>
      <input class='form-control' placeholder='Name' type='text'>
      <input class='form-control' placeholder='Email' type='text'>
      <textarea class='form-control' id='fb-comment' name='' placeholder='Tell us what you think'></textarea>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
      </div>
      <input class='form-control btn btn-primary' type='submit'>
    </form>
  </div>