<div class="table-container">
    <table class="table table-striped">
        <thead class="bg-danger ">
          <tr class=" ">
            
            <th scope="col">User Id</th>
            <th scope="col">Rating</th>
            <th scope="col">Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of feedbackList">
            <td>{{data.userId}}</td>
            <td>{{data.rating}}</td>
            <td>{{data.comment}}</td>
          </tr>
        </tbody>
      </table>
    
    </div>