<div class="booking-detail">

    <app-user-navbar>

    </app-user-navbar>
         <form class="container container-1  p-5 border-black  border col-lg-6 col-xl-9" 
         style="color:black">
               <div>
                <img src="../../../assets/images/{{place.image}}" alt="">
              </div>
             <div class="temp">
                <div class="d-flex flex-column  align-items-start p-2 mt-4 ">
                        
                        <p class=" text-bg-dark "> Name : {{place.name}}</p>
                        <p class=" text-bg-dark ">Distance:{{place.distance}} km</p>
                        <p class=" text-bg-dark ">Area : {{place.area}}</p>
                        <p class=" text-bg-dark ">Description : {{place.description}}</p>
                                          
                </div>
         </div>
         </form>
</div>