<div>
  <!-- navbar -->
 
  <app-user-navbar>
    
  </app-user-navbar>

  <!-- main section -->
  <div class="container text-center">
    <div class="row  row-cols-md-2">
      <div class="col">
        <section class="banner-area relative" id="home">  
          <div class="overlay overlay-bg"></div>
          <div class="container">
              <div class="row fullscreen d-flex align-items-center justify-content-center">
                  <div class="banner-content col-lg-10">
                      <h5 class="text-uppercase">Be the part of this Wonderful Journey</h5>
                     <h1>
                          Incredible India!              
                      </h1>
                      <a href="#portfolio" class="primary-btn text-uppercase">Explore Now</a>
                  </div>                                          
              </div>
          </div>
      </section>
      </div>
     
      <!--  2nd column start -->
      <section class="container-form">
        <form #bookForm="ngForm">
          <div class="d-flex align-items-center mb-3 pb-1">
            <span class="h1 fw-bold mb-0">Book Your Journey</span>
          </div>
      
          <div class="form-floating mb-3">
            <input [(ngModel)]="formData.startDate" name="startDate" type="date" class="form-control" id="startDate" required #startDateRef="ngModel">
            <label for="startDate">Start Date</label>
            <div *ngIf="startDateRef.invalid && (startDateRef.dirty || startDateRef.touched)" class="text-danger">
              Start Date is required
            </div>
          </div>
      
          <div class="form-floating mb-3">
            <input [(ngModel)]="formData.endDate" name="endDate" type="date" 
            class="form-control" id="endDate" required #endDateRef="ngModel">
            <label for="endDate">End Date</label>
            <div *ngIf="endDateRef.invalid && (endDateRef.dirty || 
            endDateRef.touched)" class="text-danger">
              End Date is required
            </div>
          </div>
      
          <div class="form-floating mb-3">
            <select class="form-select" id="dropdown" 
            [(ngModel)]="formData.preference" (change)="onPreferenceChange()" 
            name="dropdown" required #preferenceRef="ngModel">
              <!-- <option value="" disabled>Select Preference</option> -->
              <option *ngFor="let item of preferenceList" [value]="item">{{item}}</option>
            </select>
            <label for="dropdown">Select Preference</label>
            <div *ngIf="preferenceRef.invalid && (preferenceRef.dirty || preferenceRef.touched)" class="text-danger">
              Select Preference is required
            </div>
          </div>
      
          <div class="pt-1 mb-4 d-grid">
            <button [disabled]="!bookForm.valid" (click)="onSubmit()" class="btn btn-dark" type="button">Book</button>
          </div>
        </form>
      </section>
      
   
        <!-- 2nd column end -->
      </div>
  </div>

 
   <!-- End banner Area -->  
   

</div>