<div class="container-fluid ">
  <div class="row flex-nowrap gap-0 ">

     <!-- aside bar -->
    <div class="bg-dark col-auto  col-md-4 col-lg-3 min-vh-100 d-flex flex-column
     justify-content-between ">
 
      <div class="bg-dark p-2 ">
        <a  class="d-flex align-items-center mt-1 text-decoration-none text-white">
          <span class="fs-4 d-none d-sm-inline">Admin Menu</span>
        </a>
          <ul class="nav nav-pills flex-column mt-4">
                <li class="nav-item py-2 py-sm-0 nav-link" >
                    <a class="nav-link  text-white"  routerLink="addplace" routerLinkActive="active">
                      <i class="fs-5 fa-solid fa-plus"></i>
                        <span class="fs-4 ms-3 d-md-inline d-none d-sm-inline ">Add Place</span>
                    </a>
                </li>
                <li class="nav-item py-2 py-sm-0 nav-link" >
                  <a  class="nav-link  text-white" routerLink="viewplace"  routerLinkActive="active">
                    <i class="fs-5 fa-solid fa-location-dot"></i>
                      <span class="fs-4 ms-3 d-md-inline d-none d-sm-inline ">Places</span>
                  </a>
              </li>
                <li class="nav-item py-2 py-sm-0 nav-link" >
                  <a  routerLink="viewuser" class="nav-link  text-white"  routerLinkActive="active">
                    <i class="fs-5  fa-solid fa-users"></i> 
                    <span class="fs-4 ms-3 d-none d-sm-inline">Users</span>
                  </a>
              </li>
              <li class="nav-item py-2 py-sm-0v nav-link" >
                <a  class="nav-link  text-white" routerLink="viewfeedback"  routerLinkActive="active">
                  <i class="fs-5 fa-solid fa-comments"></i>
                  <span class="fs-4 ms-3 d-none d-sm-inline">FeedBack</span>
                </a>
            </li>
           
            <li class="nav-item py-2 py-sm-0 nav-link" >
              <a href="admin/login" class="nav-link  text-white"  routerLinkActive="active">
                <i class="fs-5 fa-solid fa-right-from-bracket"></i>
                <span class="fs-4 ms-3 d-none d-sm-inline">Logout</span>
              </a>
          </li>
          </ul>
      </div>
    </div>

    <!-- content -->
   
    <div class="p-0 col auto  col-md-8 col-lg-9">
     
      <h1 class="bg-dark text-white p-3 w-100">Admin Dashboard</h1>
         <router-outlet >
 
        </router-outlet>   
           
    </div>

  </div>
 </div>
 
 