<div class=" mb-3 ">
    <h1>Places According to Preference</h1>
     <div class="d-flex flex-row flex-wrap gap-4 justify-content-center ">
        <div  *ngFor="let place of placeList">
                <div class="card container d-lg-flex justify-content-lg-between  " >
                    <img src="../../../assets/images/shiba2.jpg" 
                    class="card-img-top mt-3 object-fit-contain " alt="...">
                    <div class="card-body">
                
                                <div class=" d-flex flex-row justify-content-between"> 
                                <h5 class="card-title single-line">{{place.name}}</h5>
                                <p class=" text-danger">{{place.distance}} Km</p>
                                </div >
                        <p class="card-text">{{place.description}} </p>
                    </div>
            </div>
        </div>
    </div>
</div>
