<div>
     <!-- navbar -->
     
          <nav class="navbar navbar-expand-lg  navbar-light bg-dark">
              <div class="container">
                    <a class="navbar-brand" href="/">
                    <h1 style=" color: aliceblue; "> Tour Guide</h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="text-white lnr lnr-menu"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                      <ul class="navbar-nav">
                         <!-- <li><a href="/admin/dashboard">Admin</a></li> -->
                         <!-- <li><a href="/userhome">userHome</a></li> -->
                          <!-- <li><a href="/feedback">FeedBack</a></li> -->
                          <li><a href="#portfolio">Places</a></li>
                          <li><a href="/register">Signup</a></li>
                          <li><a href="/login">Login</a></li>
                          <!-- <li><a href="/AboutUs">About Us</a></li> -->
                      </ul>
                    </div>						
              </div>
          </nav>
      
     <!-- main section -->
     <section class="banner-area relative" id="home">	
          <div class="overlay overlay-bg"></div>
          <div class="container">
              <div class="row fullscreen d-flex align-items-center justify-content-center">
                  <div class="banner-content col-lg-10">
                      <!-- <h5 class="text-uppercase">Be the part of this Wonderful Journey</h5> -->
                      <!-- <h1>
                          Incredible India!				
                      </h1> -->
                      <a href="#portfolio" class="primary-btn text-uppercase">Explore Now</a>
                  </div>											
              </div>
          </div>
      </section>
      <!-- End banner Area -->	
      
      <!-- Start portfolio-area Area -->	
      <section class="portfolio-area section-gap" id="portfolio">
        <div class="container">
              <div class="row d-flex justify-content-center">
                  <div class="menu-content col-lg-10">
                      <div class="title text-center">
                          <h1 class="mb-10">You'll fall in love with India</h1>
                          <p>Explore India from Kashmir to Kaniyakumari</p>
                      </div>
                  </div>
              </div>
          
          <!-- <div class="filters">
            <ul>
              <li class="active" data-filter="*">All</li>
              <li data-filter=".corporate">North</li>
              <li data-filter=".personal">Central</li>
              <li data-filter=".agency">North-Eastern</li>
              <li data-filter=".portal">South</li>
            </ul>
          </div>
           -->
          <div class="filters-content">
            <div class="row grid">
              <div class="single-portfolio col-sm-4 all corporate">
                <div class="item container1">
                  <img src="../../../assets/images/p1.jpg" alt="Work 1">
                  <div class="p-inner">
                    <h4 style="color: azure;">
                      <a >Golden Temple</a></h4>
                    <div class="cat">Punjab</div>
                  </div>
                </div>
              </div>
              <div class="single-portfolio col-sm-4 all personal ">
                <div class="item container1">
                  <img src="../../../assets/images/p2.jpg" alt="Work 1">
                  <div class="p-inner ">
                    <h4 style="color: azure;">Gwalior Fort</h4>
                    <div class="cat">Madhya Pradesh</div>
                  </div>
                </div>
              </div>
              <div class="single-portfolio col-sm-4 all agency">
                <div class="item container1">
                  <img src="../../../assets/images/p9.jpg" alt="Work 1">
                  <div class="p-inner">
                    <h5 style="color: azure;">Twang</h5>
                    <div class="cat">Arunachal Pradesh</div>
                  </div>
                </div>
              </div>
              <div class="single-portfolio col-sm-4 all portal">
                <div class="item container1">
                  <img src="../../../assets/images/p12.jpg" alt="Work 1">
                  <div class="p-inner">
                    <h5 style="color: azure;">Alleppey</h5>
                    <div class="cat">Kerala</div>
                  </div>
                </div>
              </div>
 
              <div class="single-portfolio col-sm-4 all corporate">
                <div class="item container1">
                  <img src="../../../assets/images/p5.jpg" alt="Work 1">
                  <div class="p-inner">
                    <h4 style="color: azure;">Camel Safari</h4>
                    <div class="cat">Rajasthan</div>
                  </div>
                </div>
              </div>
              <div class="single-portfolio col-sm-4 all personal">
                <div class="item container1">
                  <img src="../../../assets/images/p6.jpg" alt="Work 1">
                  <div class="p-inner">
                    <h4 style="color: azure;">Sanchi Stupa</h4>
                    <div class="cat">Madhya Pradesh</div>
                  </div>
                </div>
              </div>
              <div class="single-portfolio col-sm-4 all agency">
                <div class="item container1">
                  <img src="../../../assets/images/p7.jpg" alt="Work 1">
                  <div class="p-inner">
                    <h5 style="color: azure;">Umngot river</h5>
                    <div class="cat">Meghalaya</div>
                  </div>
                </div>
              </div>
              <div class="single-portfolio col-sm-4 all portal">
                <div class="item container1">
                  <img src="../../../assets/images/p10.jpg" alt="Work 1">
                  <div class="p-inner">
                    <h5 style="color: azure;">Vivekananda Rock Memorial</h5>
                    <div class="cat">Tamil Nadu</div>
                  </div>
                </div>
              </div>		
              <div class="single-portfolio col-sm-4 all corporate">
                <div class="item container1">
                  <img src="../../../assets/images/p4.jpg" alt="Work 1">
                  <div class="p-inner">
                    <h4 style="color: azure;">Mehrangarh Fort</h4>
                    <div class="cat">Rajasthan</div>
                  </div>
                </div>
              </div>
              <div class="single-portfolio col-sm-4 all personal">
                <div class="item container1">
                  <img src="../../../assets/images/p3.jpg" alt="Work 1">
                  <div class="p-inner">
                    <h4 style="color: azure;">Hampi</h4>
                    <div class="cat">Karnataka</div>
                  </div>
                </div>
              </div>
              <div class="single-portfolio col-sm-4 all agency">
                <div class="item container1">
                  <img src="../../../assets/images/p8.jpg" alt="Work 1">
                  <div class="p-inner">
                    <h5 style="color: azure;">Mon</h5>
                    <div class="cat">Myanmar</div>
                  </div>
                </div>
              </div>
              <div class="single-portfolio col-sm-4 all portal">
                <div class="item container1">
                  <img src="../../../assets/images/p11.jpg" alt="Work 1">
                  <div class="p-inner">
                    <h5 style="color: azure;">Colva Beach</h5>
                    <div class="cat">Goa</div>
                  </div>
                </div>
              </div>					        		        
              
            </div>
          </div>
          
        </div>
      </section>

        
    
</div>